<launch>
  <!--  Launches all visualizers that use HyQ legs  --> 
  
  <!--    MONOPED  --> 
  <node name="urdf_visualizer_hyq1" pkg="xpp_vis_hyq" type="urdf_visualizer_hyq1" output="screen"/>
  <param name="monoped_rviz_urdf_robot_description" command="$(find xacro)/xacro.py '$(find monoped_description)/urdf/monoped.urdf'"/>
   
  <!--    BIPED  --> 
  <node name="urdf_visualizer_hyq2" pkg="xpp_vis_hyq" type="urdf_visualizer_hyq2" output="screen"/>
  <param name="biped_rviz_urdf_robot_description" command="$(find xacro)/xacro.py '$(find biped_description)/urdf/biped.urdf'"/>
   
  <!--   HYQ   --> 
  <node name="urdf_visualizer_hyq4" pkg="xpp_vis_hyq" type="urdf_visualizer_hyq4" output="screen"/>
  <param name="hyq_rviz_urdf_robot_description" command="$(find xacro)/xacro.py '$(find hyqb_description)/urdf/hyqb.urdf.xacro'"/>
     
</launch>