<launch>
  
  <!-- Upload URDF file to ros parameter server for rviz to find  -->
  <param name="biped_rviz_urdf_robot_description" command="$(find xacro)/xacro --inorder '$(find xpp_hyq)/urdf/biped.urdf'"/>
  
  <!-- Converts Cartesian state to joint state and publish TFs to rviz  --> 
  <node name="urdf_visualizer_hyq2" pkg="xpp_hyq" type="urdf_visualizer_hyq2" output="screen"/>
   
</launch>
