<launch>
  
  <!-- visualizes goal, opt. parameters and cartesian base state, endeffector positions and forces -->
  <node name="rviz_marker_node" pkg="xpp_vis" type="rviz_marker_node" output="screen">
  </node>
  
  <!-- Launch rviz with specific configuration -->
  <node name="rviz_xpp" pkg="rviz" type="rviz"  args="-d $(find xpp_hyq)/rviz/xpp_hyq.rviz">
  </node>
  
  <!--  Launches all visualizers that use HyQ legs  --> 
  <include file="$(find xpp_hyq)/launch/all.launch"></include>
  
</launch>