<?xml version="1.0" ?>

<!-- adapted from Daniel Mellinger, Nathan Michael, Vijay Kumar, 
"Trajectory Generation and Control for Precise Aggressive Maneuvers with Quadrotors" -->

<robot name="quadrotor">
  <link name="base">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://xpp_quadrotor/meshes/quadrotor_base.dae" scale=".1 .1 .1"/>
      </geometry>
    </visual>   
  </link>

</robot>

