<launch>
   
  <!-- Launch the general part of visualization -->
  <include file="$(find xpp_vis)/launch/xpp.launch"></include>
  
  <!-- Upload biped urdf and inverse tf publisher -->
  <include file="$(find xpp_hyq)/launch/biped.launch"></include>
  
  <!-- Publish robot states from rosbag  --> 
  <node pkg="rosbag" type="play" name="rosbag" args="'$(find xpp_examples)/bags/biped.bag'"/>
  
</launch>