<launch>
   
  <!-- Launch the general part of visualization -->
  <include file="$(find xpp_vis)/launch/xpp_vis.launch"></include>
  
  <!-- Upload biped urdf and inverse tf publisher -->
  <include file="$(find xpp_hyq)/launch/hyq.launch"></include>
   
  <!-- Publish robot states from rosbag  --> 
  <node pkg="rosbag" type="play" name="rosbag" args="'$(find xpp_examples)/bags/hyq.bag'"/>
  
</launch>