<launch>
   
  <!-- Launch the general part of visualization -->
  <include file="$(find xpp_vis)/launch/xpp.launch"></include>
  
  <!-- Upload biped urdf and inverse tf publisher -->
  <include file="$(find xpp_hyq)/launch/monoped.launch"></include>
   
  <!-- Generate and publish robot states in loop  --> 
  <node name="monoped_publisher" pkg="xpp_examples" type="monoped_publisher" output="screen"/>
  
</launch>