<launch>
   
  <!-- visualizes goal, opt. parameters and cartesian base state, endeffector positions and forces -->
  <node name="rviz_marker_node" pkg="xpp_vis" type="rviz_marker_node" output="screen">
  </node>

  <!-- Launch rviz with specific configuration -->
  <node name="rviz_xpp" pkg="rviz" type="rviz"  args="-d $(find xpp_examples)/rviz/xpp_monoped.rviz">
  </node>
  
  <!-- Launch monoped visualizer -->
  <include file="$(find xpp_hyq)/launch/monoped.launch"></include>
   
  <!-- Generate and publish robot states in loop  --> 
  <node name="monoped_publisher" pkg="xpp_examples" type="monoped_publisher" output="screen"/>
  
</launch>