<launch>
   
  <!-- Launch the general part of visualization -->
  <include file="$(find xpp_vis)/launch/xpp.launch"></include>

  <!-- Upload biped urdf and inverse tf publisher -->
  <include file="$(find xpp_quadrotor)/launch/quadrotor.launch"></include>
  
  <!-- Generate bag and publish  --> 
  <node name="quadrotor_bag_builder" pkg="xpp_examples" type="quadrotor_bag_builder" output="screen"/>
  
</launch>
